<div class="banner-container">
  <div class="banner-nav-bar">
    <div><h1><i class="fas fa-play"></i>Watch List</h1></div>
    <div>
      <ul class="banner-ul">
        <li>Login</li>
        <li class="btn-sign">Sign up</li>
      </ul>
    </div>
  </div>

  <div class="banner-info">
    <div>
      <p class="banner-title">AVENGERS COLLECTION</p>
      <p class="banner-subtitle">All movies avaiable right now!</p>
      <div class="btn-infos">
        <p class="btn-add">Add to list</p>
        <p class="btn-more-info">More info</p>
      </div>
    </div>
  </div>
</div>

<div class="movie-category">
  <h1>Movies Category</h1>
</div>

<div class="container">

  <div class="box-flex">
    <% @lists.each do |list| %>

      <div class="box-display">
        <img class="box-image" src="<%= list.image %>">
        <p class="box-title"><%= list.name %></p>
      </div>
    <% end %>
  </div>
</div>
