// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.box-flex{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 10px;
}



.box-display{
  background-color: #fff;
  margin: 10px 0 50px;
  height: 351px;
  border: 1px solid #E8E8E8;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.box-image{
  width: 100%;
  height: 300px;
}

.box-title{
  text-transform: uppercase;
  background-color: #150e56;
  font-weight: 700;
  height: 50px;
  text-align: center;
  padding: 10px;
  color: #494C62;
}

.box-title a{
  color: #fff;
}


.footer{
  background-color: #fff;
}

.left-border{
  margin: 20px 0;
  border-left: 4px solid #FF0079;
  padding: 10px;
}

.img-list{
  width: 500px;
  height: 200px;

}

.list-box{
  background-color:#fff;
  border-radius: 0 20px 20px 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.list-title{
  padding: 20px 0 0 0;
  text-align: center;
}

.click-text-content{
  margin-left: 70px;
  width: 70%;
  text-align: center;
}

.btn-click{
  margin-left: 70px;
  width: 70%;
  text-align: center;
  padding: 5px 35px;
  border-radius: 10px;
  background-color: #FF0079;
  color: #fff;
}
